body {
    background: #fc00ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fc00ff, #00dbde);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fc00ff, #00dbde);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Microsoft Yahei";
}

.change {
    display: block;
    width: 300px;
    height: 300px;
    background-color: #ff0000;
}

.change img {
    /*移入时执行的动画 */
    display: block;
    width: 300px;
    height: 284px;
    opacity: 0;
    transform: translate(-100px, -100px);
    transition: opacity 1s ease-in-out 0.5s, transform 1s ease-in-out;
}

.change:hover img {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out 0.1s;
    /*移入时执行的动画 */
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 100%;
    margin: 100px auto;
    animation: fadeOut 1s infinite ease-in-out;
    -webkit-animation: fadeOut 1s infinite ease-in-out;
}

@keyframes fadeOut {
    from {
        transform: scale(0.0);
    }
    to {
        transform: scale(1.0);
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 0);
        opacity: 0;
    }
}

.cardfan {
    width: 300px;
    height: 200px;
    margin: 2rem auto;
}

.cardfan>img {
    position: absolute;
    border: 10px solid #fff;
    box-sizing: border-box;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    /*设置圆心*/
    transform-origin: center 400px;
    transition: transform .7s ease;
}

.cardfan img:first-child {
    transform: rotate(5deg);
}

.cardfan img:last-child {
    transform: rotate(-5deg);
}

.cardfan:hover img:first-child {
    transform: rotate(25deg);
}

.cardfan:hover img:last-child {
    transform: rotate(-25deg);
}

.lines {
    width: 100px;
    height: 50px;
    margin: 100px auto;
    text-align: center;
}

.lines>div {
    display: inline-block;
    width: 6px;
    height: 100%;
    background: green;
    animation: strechdelay 1.2s infinite ease-in-out;
}

.lines .line2 {
    animation-delay: -1.1s;
    -ms-animation-delay: -1.1s;
}

.lines .line3 {
    animation-delay: -1.0s;
}

.lines .line4 {
    animation-delay: -0.9s;
}

.lines .line5 {
    animation-delay: -0.8s;
}


/**/

@keyframes strechdelay {
    0%,
    40%,
    100% {
        transform: scaleY(.4);
    }
    20% {
        transform: scaleY(1);
    }
}

.load {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    margin: 100px auto;
    border: 1.1em solid rgba(255, 255, 255, .2);
    border-left-color: #fff;
    animation: load 1.1s infinite linear;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.border {
    border: 200px solid #000;
    width: 0;
    height: 0;
    border-top-color: green;
    border-right-color: red;
    border-bottom-color: green;
    border-left-color: red;
    border-right: 0;
}

.btn {
    display: block;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    background: #222;
}

.btn:before {
    content: attr(title);
}

.btn:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -3px;
    left: 5px;
    border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-bottom-width: 0px;
}

.btn.open:before {
    content: attr(opentitle);
}

.btn.open:after {
    border-top-width: 0px;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-right: 5px solid transparent;
}

.stage {
    width: 120px;
    height: auto;
    margin: 0 auto;
    position: relative;
    transform-origin: center top;
    transform: rotate(-30deg);
    animation: sway 2.2s infinite alternate ease-in-out;
}

.watch {
    width: 100%;
    height: auto;
}

.seconds {
    position: absolute;
    width: 8%;
    height: auto;
    bottom: 11.5%;
    left: 45.5%;
    transform-origin: center 72.4%;
    animation: second 60s infinite linear;
}

@keyframes second {
    to {
        transform: rotate(355deg);
    }
}

@keyframes sway {
    to {
        transform: rotate(30deg);
    }
}

.imgLink {
    display: block;
}

.imgBox {
    position: relative;
    top: 100px;
    left: 300px;
}

.imgBox,
.imgBox img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.boxBorder {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-style: solid;
    border-width: 20px;
    border-top-color: #FF00F7;
    border-right-color: #FF00F7;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    transition: all .8s ease-in;
}

.mask {
    width: 200px;
    height: 200px;
    color: green;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 1s ease-in;
    text-align: center;
    border-radius: 200px;
    opacity: 0;
}

.info {
    margin-top: 50%;
    transform: translateY(-50%)
}

.imgBox:hover .boxBorder {
    filter: drop-shadow(0 0 50px grey);
    transform: rotate(360deg);
}

.imgBox:hover .mask {
    opacity: 1;
}