<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>immoc jade studya</title>
  </head>
  <body>
    <h1 id="title" class="title">immoc jade study</h1>
    <div id="id" class="classname">dfasdfa</div><a href="http://baidu.com" title="jade study">百度</a>
    <input name="course" type="text" value="jade">
    <input name="type" type="">
    <p>
      1.apple<span>aa</span>
      2.orange
      3.banner
    </p>
    <p>
      1.aaa
      2.aaa
      3.aaa<strong>ccc</strong>
    </p>
    <h2>注释</h2>
    <h3>单行注释</h3>
    <!-- 被注释的内容-->
    <h3>非缓冲注释</h3>
    <h3>块注释</h3>
    <h2>转义</h2>
    <p>text</p>
    <p>&lt;script&gt;alert(1);&lt;/script&gt;</p>
    <p><script>alert(1);</script></p>
    <p>text</p>
    <p>&lt;script&gt;alert(1);&lt;/script&gt;</p>
    <p><script>alert(1);</script></p>
    <p>#{htmlData}</p>
    <p>!{htmlData}</p>
    <h2>流程</h2>
    <h3>for</h3>
    <p>jade</p>
    <p>height</p>
    <h3>each obj</h3>
    <p>course: jade</p>
    <p>level: height</p>
    <h3>each array</h3>
    <p>node</p>
    <p>jade</p>
    <p>express</p>
    <h3>each array&obj</h3>
    <dl>
      <dt>1</dt>
      <dd>a</dd>
      <dd>b</dd>
      <dt>2</dt>
      <dd>c</dd>
      <dd>d</dd>
    </dl>
    <h3>while</h3>
    <ul>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <h2>mixins</h2>
    <h2>继承</h2>
  </body>
</html>