<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>immoc jade studya</title>
  </head>
  <body>
    <h1 id="title" class="title">immoc jade study</h1>
    <div id="id" class="classname"></div><a href="http://baidu.com" title="jade study">百度</a>
    <input name="course" type="text" value="jade">
    <input name="type" type="">
    <p>
      1.apple<span>aa</span>
      2.orange
      3.banner
    </p>
    <p>
      1.aaa
      2.aaa
      3.aaa<strong>ccc</strong>
    </p>
    <h2>注释</h2>
    <h3>单行注释</h3>
    <!-- 被注释的内容-->
    <h3>非缓冲注释</h3>
    <h3>块注释</h3>
  </body>
</html>