doctype html
html
    head
        meta
        title immoc jade studya
    body
        h1.title#title immoc jade study
        #id.classname
        a(href='http://baidu.com', title='jade study')百度
        input(name='course', type='text', value='jade')
        input(name='type', type='')
        p.
            1.apple<span>aa</span>
            2.orange
            3.banner
        p
            | 1.aaa
            | 2.aaa
            | 3.aaa
            strong ccc
        h2 注释
        h3 单行注释
        // 被注释的内容
        h3 非缓冲注释
        //- 被注释的内容
        h3 块注释
        //- 
            被注释的内容
            被注释的内容
        